@charset "utf-8";
/**
 * This is the stylesheet for KUMAMON! Your browser must support CSS3 for perfect effect.
 * If you like it, you could star the project on my github.
 * @author: liangbizhi
 * @email: liangbizhi1993@gmail.com
 * @github: https://github.com/liangbizhi/
 *
 */
* {
	margin: 0;
	padding: 0;
}
.wrapper {
	position: relative;
	width: 300px;
	margin: 300px auto 0 auto;
}
/* head */
.head {
	position: relative;
	background: {
		color: black;
	}
	width: 300px;
	height: 200px;
	border-top: {
		left-radius: 142px;
    	right-radius: 140px;
    }
}
/* ears */
.ears {
	position: relative;
	.left, .right {
		position: absolute;
		z-index: -1;
		top: 12px;
		background-color: white;
		width: 35px;
		height: 35px;
		border: 12px solid black;
		border-radius: 50%;
	}
	.left {
		left: -8px;
	}
	.right {
		left: 250px;
	}
}
/* eyes */
.eyes {
	position: relative;
	.left, .right {
		position: absolute;
		border-radius: 50%;
		width: 62px;
		height: 62px;
		background-color: white;
	}
	.left {
		left: 48px;
		top: 55px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -5px;
			top: 19px;
			height: 13px;
			border: 5px solid black;
			border-radius: 50%;
		}
		/* 眉毛 */
		&:before {
			content: '';
		    position: absolute;
		    left: 5px;
		    top: -27px;
		    border-top: 7px solid white;
		    border-radius: 50%;
		    width: 40px;
		    height: 31px;
		    animation: 5s eyebrows 1s ease infinite;
		}
	}
	.right {
		left: 192px;
		top: 55px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -5px;
			top: 19px;
			height: 13px;
			border: 5px solid black;
			border-radius: 50%;
		}
		/* 眉毛 */
		&:before {
			content: '';
		    position: absolute;
		    left: 14px;
		    top: -27px;
		    border-top: 7px solid white;
		    border-radius: 50%;
		    width: 40px;
		    height: 31px;
		    animation: 5s eyebrows 1s ease infinite;
		}
	}
}
/* mouth wrapper */
.mouth-wrapper {
	width: 160px;
    height: 125px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 102px;
    margin-left: -80px;
    border-radius: 50%;
    .nouse-top, .nouse-bottom {
    	position: absolute;
		width: 45px;
	    left: 50%;
	    margin-left: -22.5px;
	    border-radius: 50%;
    }
    .nouse-top {
	    height: 10px;
	    border-top: 20px solid black;
	    top: 5px;
    }
    .nouse-bottom {
		border-bottom: 19px solid black;
	    height: 19px;
    }
    /* mouth */
    .mouth {
    	position: absolute;
    	left: 50%;
    	margin-left: -71px;
		width: 142px;
		border-top: 30px solid black;
		top: 51px;
    	border-radius: 50%;
    	animation: 5s mouth 1s ease infinite;
    }
}
/* ka wa ii red dots */
.red-dots {
	position: relative;
	.left, .right {
		position: absolute;
		width: 76px;
		height: 76px;
		background-color: red;
		border-radius: 50%;
	    top: 112px;
	}
	.left {
		left: -25px;
	}
	.right {
		left: 250px;	
	}
}
/* body */
.body {
	position: absolute;
    z-index: -1;
    height: 524px;
    top: -2px;
    left: -32px;
    border: 182px solid black;
    border-radius: 50%;
    &:after {
        content: '';
	    width: 397px;
	    height: 405px;
	    position: absolute;
	    background-color: white;
	    top: 300px;
	    left: -200px;

    }
}
/* arms */
.arms {
	position: relative;
	.left, .right {
	    position: absolute;
	    top: 53px;
	    width: 210px;
	    height: 95px;
	    border-radius: 56px;
	    background-color: black;
	}
	.left {
		transform-origin: right center;
		animation: 5s left-arm 1s ease infinite;
		transform: rotate(52deg);
    	left: -163px;
	}
	.right {
		transform-origin: left center;
		animation: 5s right-arm 1s ease infinite;
		transform: rotate(-52deg);
    	left: 263px;
	}
}
/* background */
.bg {
	position: absolute;
	width: 100%;
	z-index: -10;
	left: 0;
	top: 0;
	.title {
		position: absolute;
		font-size: 40px;
		left: 50%;
		top: 180px;
		margin-left: -140px;
		font-family: '微软雅黑';
		p {
			&:nth-child(2) {
				text-align: center;
				font-size: 12px;
			}
		}
	}
	.bg-one {
		background-color: #f3ebc1;
		height: 48px;
	}
	.bg-two {
		background-color: #ebe6cc;
		height: 40px;
	}
	.bg-three {
		background-color: #cdd1b9;
		height: 161px;
	}
	.bg-four {
		background-color: #e1df8f;
		height: 145px;
	}
	.bg-five {
		background-color: #d3c68c;
		height: 178px;
	}
	.bg-six {
		background-color: #c8dc3f;
		height: 170px;	
	}
}
/* animation */
@keyframes left-arm {
	10%, 50% {
		transform: rotate(48deg);
	}
	30%, 70% {
		transform: rotate(56deg);
	}
	75%, 85%, 95% {
		transform: rotate(48deg);
	}
	80%, 90%, 98% {
		transform: rotate(56deg);	
	}
}
@keyframes right-arm {
	10%, 50% {
		transform: rotate(-48deg);
	}
	30%, 70% {
		transform: rotate(-56deg);
	}
	75%, 85%, 95% {
		transform: rotate(-48deg);
	}
	80%, 90%, 98% {
		transform: rotate(-56deg);	
	}
}
/* eyebrows */
@keyframes eyebrows {
	50% {
		transform: rotate(-1deg);
	}
	75% {
		transform: rotate(1deg);
		top: -25px;
	}
}
/* mouth */
@keyframes mouth {
	75% {
		border-top: 24px solid black;
	}
}